body {
	margin:0px 2px;
	font-size:14px;
}
h1{
	text-align: center;
}

#opr{
	margin: 5px auto;
	text-align: center;
}

.oprbtn{
	background-image: url('../images/tab_14.gif');
	height: 30px;
	width: 70px;
	border:1px green dotted;
}

#datalist #tableheader{
	background-image: url('../images/tab_14.gif');
}

#datalist #tableheader th{
	font-size:15px;
}
#datalist table{
	margin:auto;
	background-color: gray;
	border-width: 0px;
}
#newdata table{
	margin:auto;
	border-width: 0px;
	border-collapse:collapse;
}

#datalist table tbody tr:hover{
	background-color: yellow;
}

#datalist tbody tr:nth-child(odd) {
    background-color: #FFF;
}
#datalist tbody tr:nth-child(even) {
    background-color: #CCC;
}
        
.center{
	text-align: center;
}

#datalist #tableheader tr td{
	font-size:16px;
	background-color: white;
}

#bottom #info{
	float:left;
	margin-top: 20px;
}

#bottom #nav{
	float:right;
	margin-top: 40px;
}
#bottom #nav *{
	margin-right:10px;
	vertical-align: middle;
}

#bottom #nav input{
	width: 30px;
} 

#search{
	text-align: center;
}

label.error{ 
	color:Red; 
	font-size:13px; 
	margin-left:5px; 
	padding-left:16px; 
	background:url("../images/cancel.png") left no-repeat; 
}

#login{
	width:40px;
	height:22px;
	background-image: url('../images/dl.gif');
	background-position:0 0px;
	border-width: 0px
}
#reset{
	width:40px;
	height:22px;
	background-image: url('../images/dl.gif');
	background-position:-40px 0px;
	border-width: 0px
}
.input_desc{border:1px solid #EDEDED; font-size:13px; color:#777777;padding:6px 5px 4px 10px;line-height: 25px;}
.input_error{background: url("../images/wrong_reg.png") no-repeat scroll 6px 5px #FFF2F5;border:1px solid #ED9A9A;font-size:13px; color:#777777; padding:6px 5px 4px 28px;line-height: 25px;}
.input_ok{background: url("../images/right_reg.png") no-repeat scroll 6px 5px; padding:6px 5px 4px 28px;line-height: 25px;}

#tabs1 {
	float: left;
	width: 100%;
	background: #F4F7FB;
	line-height: normal;
	border-bottom: 1px solid #BCD2E6;
}

#tabs1 ul {
	margin: 0;
	padding: 10px 10px 0 30px;
	list-style: none;
}

#tabs1 li {
	display: inline;
	margin: 0;
	padding: 0;
}

#tabs1 a {
	float: left;
	background: url("../images/menu/menu_user.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
}

#tabs1 a span {
	float: left;
	display: block;
	background: url("../images/menu/menu_user.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	color: #627EB7;
}

#tabs1 a span {
	float: none;
}

#tabs1 a:hover {
	background-position: 0% -42px;
}

#tabs1 a:hover span {
	background-position: 100% -42px;
	color: #DF8210;
}

#tabs1 ul li.current a {
	background-position: 0% -42px;
}

#tabs1 ul li.current a span {
	background-position: 100% -42px;
	color: #DF8210;
}
 .white_content { 
            display: none; 
            position: absolute; 
            top: 2%; 
            left: 10%; 
            width: 80%; 
            height: 90%; 
            padding: 10px; 
            border: 1px solid #CEAE71; 
            background-color: white; 
            z-index:1002; 
            overflow: auto; 
 } 

 .black_overlay{ 
            display: block; 
            position: absolute; 
            top: 0%; 
            left: 0%; 
            width: 100%; 
            height: 100%; 
            background-color: black; 
            z-index:1001; 
            -moz-opacity: 0.8; 
            opacity:.80; 
            filter: alpha(opacity=88); 
        } 




